<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ClipboardActivity"
            android:exported="true"
            android:theme="@style/Theme.TransparentActivity">
            <!-- ✅ 공유 기능 (다른 앱에서 텍스트 공유 시 실행) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />  <!-- 텍스트 공유 지원 -->
            </intent-filter>
        </activity>
    </application>

</manifest>